<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-5 col-lg-4">
      <div class="window">
        <div class="title-bar">
          <div class="title-bar-text">
            <i class="fa fa-lock mx-1"></i> Authentication
          </div>
        </div>
        <div class="window-body">
          <form [formGroup]="signInForm" (ngSubmit)="submit()" novalidate>
            <div class="field-row-stacked">
              <label for="email">Email</label>
              <input formControlName="email" id="email" type="text" />
            </div>
            <div class="field-row-stacked">
              <label for="password">Password</label>
              <input formControlName="password" id="password" type="password" />
            </div>
            <div class="field-row-stacked">
              <div class="d-flex justify-content-end">
                <button>
                  <i
                    class="fa fa-spinner fa-spin fa-pulse"
                    *ngIf="authService.busy"
                  ></i>
                  Sign In
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
