.loader {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  backdrop-filter: blur(15px) grayscale(100%);
}

.loader p {
  margin: 0 40px;
}
