<div class="row">
  <div class="col-12">
    <div class="window" *ngIf="marketplaceService.$availableProducts['book']">
      <div class="title-bar">
        <div class="title-bar-text">
          <i class="fa fa-book mx-1"></i> Livros que eu indico
        </div>
        <div class="title-bar-controls">
          <button
            aria-label="Minimize"
            (click)="windowsService.minimize()"
          ></button>
          <button aria-label="Maximize"></button>
          <button aria-label="Close" (click)="windowsService.close()"></button>
        </div>
      </div>
      <div class="window-body">
        <div class="products">
          <button
            type="button"
            class="product"
            *ngFor="
              let product of marketplaceService.$availableProducts['book']
                | async
            "
            (click)="goToProduct(product)"
          >
            <p class="product-title">
              <span>{{ product.title }}</span>
              <a [href]="product.link" target="_blank">Visitar</a>
            </p>
            <hr />
            <div class="product-content">
              <div class="product-image">
                <img [src]="product.photo" [alt]="product.title" />
              </div>
              <p class="product-description">
                {{ product.description }}
              </p>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="window" *ngIf="marketplaceService.$availableProducts['gadget']">
      <div class="title-bar">
        <div class="title-bar-text">
          <i class="fa fa-microchip mx-1"></i> Gadgets que eu gosto e recomendo
        </div>
        <div class="title-bar-controls">
          <button
            aria-label="Minimize"
            (click)="windowsService.minimize()"
          ></button>
          <button aria-label="Maximize"></button>
          <button aria-label="Close" (click)="windowsService.close()"></button>
        </div>
      </div>
      <div class="window-body">
        <div class="products">
          <button
            type="button"
            class="product"
            *ngFor="
              let product of marketplaceService.$availableProducts['gadget']
                | async
            "
            (click)="goToProduct(product)"
          >
            <p class="product-title">
              <span>{{ product.title }}</span>
              <a [href]="product.link" target="_blank">Visitar</a>
            </p>
            <hr />
            <div class="product-content">
              <div class="product-image">
                <img [src]="product.photo" [alt]="product.title" />
              </div>
              <p class="product-description">
                {{ product.description }}
              </p>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
