// Theme Colors
$color-gray-1: #2d3436;
$color-gray-2: #636e72;
$color-gray-3: #b2bec3;
$color-gray-4: #dfe6e9;

$color-blue-1: #0984e3;
$color-blue-2: #74b9ff;

$color-orange-1: #e17055;
$color-orange-2: #fab1a0;

$color-purple-1: #6c5ce7;
$color-purple-2: #a29bfe;

// Resolutions
$small-device-width: 576px;
$medium-device-width: 768px;
