<div class="row">
  <div class="col-12 col-md-4 px-3 order-2 order-md-1">
    <div class="window">
      <div class="title-bar">
        <div class="title-bar-text">Registered Products</div>
      </div>
      <div class="window-body">
        <div class="products">
          <div
            class="product"
            *ngFor="let product of marketplaceService.$products | async"
          >
            <div class="field-row mb-3">
              <input
                [checked]="product?.status"
                type="checkbox"
                [id]="product.id"
                (change)="changeStatus(product)"
              />
              <label [for]="product.id">
                <span class="product-title">
                  <i
                    class="fa fa-{{
                      categoryService.getIconByValue(product.category)
                    }} mr-2"
                  ></i>
                  {{ product.title }}
                </span>
              </label>
              <span>-</span><a (click)="edit(product)" class="ml-2">Edit</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-8 px-3 pl-md-0 mb-3 mb-md-0 order-1 order-md-2">
    <div class="window">
      <div class="title-bar">
        <div class="title-bar-text">New Product</div>
      </div>
      <div class="window-body">
        <form [formGroup]="productForm" (ngSubmit)="submit()" novalidate>
          <div class="row mb-2">
            <div class="col-7 col-md-9">
              <div class="field-row-stacked">
                <label for="title">Title</label>
                <input id="title" formControlName="title" type="text" />
              </div>
            </div>
            <div class="col-5 col-md-3 pl-0">
              <div class="field-row-stacked">
                <label for="category">Category</label>
                <select id="category" formControlName="category">
                  <option value="" disabled>Select...</option>
                  <option
                    *ngFor="let category of categoryService.categories"
                    [value]="category.value"
                    >{{ category.name }}</option
                  >
                </select>
              </div>
            </div>
          </div>
          <div class="field-row-stacked">
            <label for="link">Link</label>
            <input id="link" formControlName="link" type="text" />
          </div>
          <div class="field-row-stacked">
            <label for="photo">Image URL</label>
            <input id="photo" formControlName="photo" type="text" />
          </div>
          <div class="field-row-stacked">
            <label for="description">Description</label>
            <textarea
              id="description"
              formControlName="description"
              rows="8"
            ></textarea>
          </div>
          <div class="field-row-stack">
            <input type="checkbox" id="status" formControlName="status" />
            <label for="status">Status</label>
          </div>
          <hr />
          <div class="field-row-stacked">
            <div class="d-flex justify-content-end">
              <div class="actions">
                <button
                  *ngIf="formAction === 'edit'"
                  type="button"
                  class="mr-3"
                  (click)="cancel()"
                >
                  Cancel
                </button>
                <button
                  *ngIf="formAction === 'edit'"
                  type="button"
                  class="mr-3"
                  (click)="delete()"
                >
                  Delete
                </button>
                <button>
                  {{ formAction === 'insert' ? 'Create' : 'Update' }}
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
