<div class="business-card-component">
  <div class="profile">
    <img class="photo" src="assets/images/avatar.jpg" alt="Felipe 0liveira">
    <h1 class="name">Felipe 0liveira</h1>
    <h2 class="bio">
      Muita luta e perseverança para entregar o melhor de mim! Apaixonado por desafios e um exímio solucionador.
    </h2>
    <div class="social-list">
      <div class="social-icon">
        <a href="https://www.github.com/felpdev" target="_blank"><i class="fa fa-github"></i></a>
      </div>
      <div class="social-icon">
        <a href="https://www.linkedin.com/in/felpd3v" target="_blank"><i class="fa fa-linkedin"></i></a>
      </div>
      <div class="social-icon">
        <a href="https://www.twitter.com/felpd3v" target="_blank"><i class="fa fa-twitter"></i></a>
      </div>
      <div class="social-icon">
        <a href="https://telegram.me/felpd3v" target="_blank"><i class="fa fa-telegram"></i></a>
      </div>
      <div class="social-icon">
        <a href="mailto:felpd3v@gmail.com"><i class="fa fa-google"></i></a>
      </div>
    </div>
  </div>
</div>
