section.about-me {
	flex-direction: column;
	text-align: center;

	main {
		@media screen and (min-width: 768px) {
			margin: 0 20%;
		}

		.card {
			margin: 20px;
			padding: 20px;
			text-align: left;
			background-color: rgba(255, 255, 255, 0.1);

			img.avatar {
				width: 100%;
			}

			p {
				margin-bottom: 5px;
			}
		}
	}
}
