.InfoCard {
	display: flex;
	flex-direction: column;

	box-shadow: 0px 0px 10px #00000039;
	background-color: #272727;
	background-size: cover;
	background-position: center;

	.Content {
		display: flex;
		flex-direction: column;
		padding: 20px;
		height: 100%;
		gap: 8px;
	}

	h3 {
		font-weight: 400;
		font-size: 17px;
		margin-bottom: 10px;
	}

	span {
		width: 100%;
		font-size: 30px;
	}

	p,
	li {
		font-size: 13px;
	}

	ul {
		list-style: circle;
		margin-left: 20px;
	}

	a,
	&:visited {
		color: #ffffffc3;

		&:hover {
			color: #fff;
		}
	}
}
