@media screen and (min-width: 768px) {
  .card {
    color: #b9b9b9;

    .headerImage {
      height: 200px !important;
    }

    &.clickable {
      cursor: pointer;
    }

    &:hover {
      color: #ffffff;
    }
  }
}
