.card {
	margin: 20px;
	padding: 20px;
	text-align: left;
	background-color: rgba(255, 255, 255, 0.1);

	box-shadow: 10px 10px #0000001f;

	img {
		width: 100%;
		filter: grayscale(100%);
	}

	p {
		margin-bottom: 5px;
	}
}
