@media screen and (min-width: 768px) {
  /* Scrollbar */
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #303135;
  }

  ::-webkit-scrollbar-thumb {
    background: #ffffff3f;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff57;
  }

  .page {
    .content {
      display: grid;
      grid-template-columns: minmax(500px, 950px) 280px;
      justify-content: center;

      main {
        grid-auto-rows: min-content;

        .qr-code {
          display: flex;
          flex-direction: row;

          img {
            width: 250px;

            margin-right: 15px;
            margin-bottom: 0;
          }
          .pix-key {
            color: #868686;
          }
        }
      }

      .blog {
        max-height: 1660px;
        overflow-y: auto;

        padding: 15px 15px 15px 0;
      }
    }
  }
}
