@media screen and (min-width: 768px) {
  /* Scrollbar */
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #303135;
  }

  ::-webkit-scrollbar-thumb {
    background: #ffffff3f;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff57;
  }

  .page {
    main {
      margin: 0 20%;

      .blog {
        grid-template-columns: 50% 50%;
      }

      .qr-code {
        display: flex;
        flex-direction: row;

        img {
          width: 250px;

          margin-right: 15px;
          margin-bottom: 0;
        }
        .pix-key {
          color: #868686;
        }
      }
    }
  }
}
