* {
  outline: none;
  margin: 0;
}

body {
  background: #c0c0c0;
}

hr {
  margin: 10px 0;
}

p {
  margin-bottom: 8px;
}

ul.tree-view li a {
  color: #c20031;
  text-decoration: underline;
}

/* 98.css Addons */
.window.minimized {
  height: 20px;
}

/* Desktop Stylesheet */
@media screen and (min-width: 600px) {
  p {
    font-size: 13px;
  }

  .window {
    margin-bottom: 0;
  }

  section {
    display: none;
  }
}
