.page {
  padding: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Big Desktop Stylesheet */
@media screen and (min-width: 600px) {
  .page {
    display: grid;
    align-items: flex-start;
    justify-content: center;
    grid-template-columns:
      minmax(300px, 500px)
      minmax(100px, 300px);
    gap: 15px;
  }
}
