<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="window">
        <div class="title-bar">
          <div class="title-bar-text"><i class="fa fa-user mx-1"></i> Who am I</div>
          <div class="title-bar-controls">
            <button aria-label="Minimize" (click)="minimizeWindow()"></button>
            <button aria-label="Maximize"></button>
            <button aria-label="Close" (click)="closeWindow()"></button>
          </div>
        </div>
        <div class="window-body">
          <img src="assets/images/profile.jpg" alt="Felipe Oliveira, Fullstack Developer" title="Felipe 0liveira">

          <h1 class="title">Felipe 0liveira</h1>
          <h2 class="subtitle">Fullstack Developer</h2>

          <p>Me chamo Felipe 0liveira, sou <strong>apaixonado</strong> por tecnologia de modo geral. Minha introdução no
            mundo da
            programação começou quando percebi meu brilho nos olhos em <strong>apoiar</strong> grandes ideias, com o
            objetivo facilitar a
            vida das pessoas e das empresas.</p>

          <p>Meu <strong>principal objetivo</strong> é prover soluções à nível do cliente, analisar suas necessidades e
            dores, me
            envolver
            na ideia e traçar o melhor plano de ação para a execução do <strong>desenvolvimento</strong> para
            <strong>superar</strong> positivamente as expectativas.</p>

          <hr>

          <div class="icons-list d-flex justify-content-center">
            <a gtm href="https://twitter.com/felpd3v" target="_blank"><i class="fa fa-twitter"></i></a>
            <a gtm href="https://github.com/felipe0liveira" target="_blank"><i class="fa fa-github"></i></a>
            <a gtm href="https://linkedin.com/in/felipe0liveira" target="_blank"><i class="fa fa-linkedin"></i></a>
            <a gtm href="mailto:me@felipe0liveira.dev"><i class="fa fa-envelope"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <div class="window">
        <div class="title-bar">
          <div class="title-bar-text"><i class="fa fa-microchip mx-1"></i> Skills & Tecnologias</div>
          <div class="title-bar-controls">
            <button aria-label="Minimize" (click)="minimizeWindow()"></button>
            <button aria-label="Maximize"></button>
            <button aria-label="Close" (click)="closeWindow()"></button>
          </div>
        </div>
        <div class="window-body">
          <p>Tenho uma <strong>régua altíssima de qualidade</strong>, principalmente se tratando de estruturação de
            código,
            <strong>organização de projetos</strong>,
            design patterns, etc.</p>

          <p>Me destaco tanto na <strong>comunicação assertiva</strong> com as pessoas, prezando objetividade e clareza,
            quanto por minha
            rápida e <strong>eficiente curva de aprendizado</strong>, entregando máxima performance dentro da
            expectativa de prazo.</p>

          <p>Se liga no que tá no meu radar:</p>
          <ul class="tree-view">
            <li>React</li>
            <li>Angular <i class="fa fa-heart-o"></i></li>
            <li>Javascript <i class="fa fa-heart-o"></i></li>
            <li>
              Node.js <i class="fa fa-heart-o"></i>
              <ul>
                <li>Express</li>
                <li>Restfull APIs</li>
                <li>Mongoose</li>
                <li>Web Sockets</li>
              </ul>
            </li>
            <li>HTML</li>
            <li>SASS/LESS</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-12 col-lg-4">
      <div class="row">
        <div class="col-12">
          <div class="window">
            <div class="title-bar">
              <div class="title-bar-text"><i class="fa fa-heart mx-1"></i> Uma Paixão</div>
              <div class="title-bar-controls">
                <button aria-label="Minimize" (click)="minimizeWindow()"></button>
                <button aria-label="Maximize"></button>
                <button aria-label="Close" (click)="closeWindow()"></button>
              </div>
            </div>
            <div class="window-body">
              <p>Sem dúvidas é o Javascript, para os mais íntimos, js.</p>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="window">
            <div class="title-bar">
              <div class="title-bar-text"><i class="fa fa-key mx-1"></i> Um Segredo</div>
              <div class="title-bar-controls">
                <button aria-label="Minimize" (click)="minimizeWindow()"></button>
                <button aria-label="Maximize"></button>
                <button aria-label="Close" (click)="closeWindow()"></button>
              </div>
            </div>
            <div class="window-body">
              <p>Eu confesso! Da meia noite às seis eu faço bots de Web Scrapping...</p>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="window">
            <div class="title-bar">
              <div class="title-bar-text"><i class="fa fa-lightbulb-o mx-1"></i> Uma Curiosidade</div>
              <div class="title-bar-controls">
                <button aria-label="Minimize" (click)="minimizeWindow()"></button>
                <button aria-label="Maximize"></button>
                <button aria-label="Close" (click)="closeWindow()"></button>
              </div>
            </div>
            <div class="window-body">
              <p>Sou cantor, tocadô de vioão e fotógrafo nas horas vagas.</p>
            </div>
          </div>
          </div>
      </div>
    </div>


    <div class="col-12">
      <div class="window">
        <div class="title-bar">
          <div class="title-bar-text"><i class="fa fa-rss mx-1"></i> Blog</div>
          <div class="title-bar-controls">
            <button aria-label="Minimize" (click)="minimizeWindow()"></button>
            <button aria-label="Maximize"></button>
            <button aria-label="Close" (click)="closeWindow()"></button>
          </div>
        </div>
        <div class="window-body">

          <div class="articles">
            <div class="article" *ngFor="let article of blogService.$articles | async">
              <button type="button" (click)="goToArticle(article)">
                <h1 class="title">{{ article.title }}</h1>
                <p class="description">{{ article?.description }}</p>

                <hr>

                <p class="info">
                  {{ article.published_at | date: 'dd/MM/yy' }}
                </p>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<audio id="audioError" src="assets/sounds/startup.wav" autoplay></audio>