.container {
    .window {
        margin-bottom: 16px;
        .window {
            margin: 0;

            .window-body {
                margin-bottom: 0 !important;
            }
        }

        .window-body {
            img {
                width: 100%;
            }

            .icons-list {
                margin: 5px;
                a, a:visited {
                    color: #7c7c7c;
                    margin-right: 10px;
                    font-size: 16px;
                    outline: none;

                    &:hover {
                        color: #333;
                    }

                    &:active {
                        color: #222;
                    }
                }
            }

            .title {
                font-family: "Press Start 2P", cursive !important;
                font-size: 15px;
                margin: 20px 0 0 0;
            }

            .subtitle {
                font-size: 10px;
                font-weight: 100;
            }

            .articles {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
                gap: 15px;
                .article {
                    button {
                        width: 100% !important;
                        text-align: left;
                    }

                    .thumbnail {
                        height: 150px;
                        background-position: center;
                    }

                    .title {
                        font-size: 12px;
                        font-weight: 100;
                        height: 25px;
                    }

                    .description {
                        height: 50px;
                    }

                    .info {
                        font-size: 9px;
                        text-align: right;
                    }
                }
            }
        }
    }
}
