.container {
  .carousel {
    display: grid;
    grid-template-columns: repeat(100, 150px);
    gap: 10px;

    max-width: 100%;
    overflow-x: auto;

    .card {
      min-height: 120px;

      .title {
        margin-bottom: 8px;
        font-size: 12px;
      }
    }
  }
}
