.avatar {
  width: 100%;
  height: 210px;

  text-align: center;
  color: #272727;
  margin-bottom: 8px;

  background-image: url(/images/me.jpg);
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);

  font-size: 30px;
}
