@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:wght@100;200;400&display=swap');

* {
	outline: none;
	margin: 0;
	padding: 0;
}

body {
	background-color: #141414;
	color: #fafafa;

	font-family: 'Kantumruy Pro', sans-serif;

	small {
		margin-top: 30px;
		color: #727272;
	}

	h1 {
		font-weight: 400;
		font-size: 45px;
	}

	h2 {
		font-weight: 200;
		font-size: 30px;
	}

	h3 {
		font-weight: 200;
		font-size: 25px;
	}

	h4 {
		font-weight: 100;
		font-size: 18px;
	}

	h5 {
		font-weight: 200;
		font-size: 17px;
	}

	hr {
		margin: 15px 0;
		border: none;
		border-top: 3px solid #ffffff0c;
	}

	$bottom-border-height: 15px;
	$section-y-padding: 30px;

	section {
		display: flex;
		flex-direction: column;
		text-align: center;

		min-height: calc(100vh - $bottom-border-height - ($section-y-padding * 2));

		padding: 30px 0;

		border-bottom: $bottom-border-height solid #000000;

		header {
			margin-bottom: 30px;
		}

		main {
			@media screen and (min-width: 768px) {
				margin: 0 20%;
			}
		}
	}
}
