// Font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

/* Reset */
* {
	outline: none;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #000;
	color: #fff;

	margin: 0;
	padding: 0;

	.container {
		display: flex;
		flex-direction: column;
		align-items: center;

		section {
			padding: 1em;
		}
	}

	a,
	a:visited,
	a:hover,
	a:active {
		color: #d1d1d1;
	}

	p {
		text-align: justify;
	}

	h1,
	h2 {
		margin: 0;
	}

	span {
		color: #b0b0b0;
	}

	img {
		filter: grayscale(100%);
		width: 100%;
	}

	hr {
		border: none;
		height: 10px;
		width: 100%;
		background-color: #111111;
		margin: 0 0 1em 0;
	}
}

// Mobile CSS
@import './styles/mobile.scss';
@import './styles/desktop.scss';
