// Font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

/* Reset */
* {
	outline: none;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #202020;
	color: #fff;

	padding: 15px;
}
