@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

body {
    margin: 15px 0 0 0;
    background-color: #c0c0c0;

    p,
    li {
        font-size: 13px;
        color: #333333;

        strong {
            color: #000000;
        }
    }
}
