<div class="window" *ngIf="githubService.$repositories">
  <div class="title-bar">
    <div class="title-bar-text">
      <i class="fa fa-github mx-1"></i> Meus Repos no Github
    </div>
    <div class="title-bar-controls">
      <button
        aria-label="Minimize"
        (click)="windowsService.minimize()"
      ></button>
      <button aria-label="Maximize"></button>
      <button aria-label="Close" (click)="windowsService.close()"></button>
    </div>
  </div>
  <div class="window-body">
    <div class="repositories">
      <div
        class="repository"
        *ngFor="let repo of githubService.$repositories | async"
      >
        <p>
          <span>{{ repo.name }}</span>
          <a [href]="repo.html_url" target="_blank">
            <i class="fa fa-code-fork"></i>
          </a>
        </p>
        <small>{{ repo.description }}</small>
        <small>{{ repo.updated_at | date: 'dd/MM/yyyy' }}</small>
      </div>
    </div>
  </div>
</div>
